/* $Id: filefield.css,v 1.17 2009/03/01 05:17:37 quicksketch Exp $ */

/**
 * Overall styles
 */


/**
 * Formatter styles
 */

.filefield-icon {
  float: left;
  margin-right: 0.4em;
}

/* End formatter styles. */

/**
 * General widget form styles (applicable to all widgets).
 */
.filefield-element {
  margin: 1em 0;
  white-space: normal;
}

.filefield-element .filefield-preview {
  float: left;
  width: 180px;
  overflow: hidden;
  margin-right: 10px;
}

.filefield-element .filefield-edit {
  float: left;
}

.filefield-element .filefield-edit .form-item {
  margin: 0 0 1em 0;
}

.filefield-element input.form-submit,
.filefield-element input.form-file {
  margin: 0;
}

.filefield-element input.progress-disabled {
  float: none;
  display: inline;
}

.filefield-element div.ahah-progress,
.filefield-element div.throbber {
  display: inline;
  float: none;
  padding: 1px 13px 2px 3px;
}



/* End general widget form styles. */

/**
 * Generic file edit widget styles. Not applicable to other widgets that
 * might hook into filefield (say, a widget with an image preview).
 */

.filefield-generic-edit .filefield-icon {
  float: left;
  margin-right: 0.7em;
  margin-top: 0.3em;
}

.filefield-generic-edit-description {
  margin-right: 6em;
}

/* The text field is made unnecessarily long by node.css - shorten it. */
.filefield-generic-edit .form-text {
  width: 99%;
}

.filefield-generic-edit .description {
  white-space: normal;
  margin-bottom: 0;
  overflow: auto; /* Indent on line wraps, don't float around the icon. */
}

/* End widget form styles. */
