/* put your custom CSS in here */

div.field-field-image div.field-items img {  
  padding: 15px;  
  border:  1px solid #ccc;  
  background-color: #eee;
}

.cycle-nav a { border: 1px solid #ccc; background: #fc0; text-decoration: none; margin: 0 5px; padding: 3px 5px;  }
.cycle-nav a.activeSlide { background: #ea0 }
.cycle-nav a:focus { outline: none; }

div.view-overlay {
  display: none;
  background-image: url(../images/overlay.png);     
  width: 660px; 
  height: 500px;         
  padding: 10px; 
}
