/* put your custom CSS in here */

div.field-field-image div.field-items img {  
  padding: 15px;  
  border:  1px solid #ccc;  
  background-color: #eee;
}

.cycle-nav a { border: 1px solid #ccc; background: #fc0; text-decoration: none; margin: 0 5px; padding: 3px 5px;  }
.cycle-nav a.activeSlide { background: #ea0 }
.cycle-nav a:focus { outline: none; }

div.view-overlay {
  display: none;
  background-image: url(../images/overlay.png);     
  width: 656px; 
  height: 526px;         
  padding: 48px; 
  color: #ddd;
}

div.view-overlay div.views-field-title {
  font-size: 1.5em;
}

div.view-overlay div.views-field-field-image-fid {
  height: 384px;
}

div.view-overlay div.overlay-nav {
  cursor: pointer;
}

div.view-overlay div.close {
  background-image: url(../images/close.png);
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

div.overlay-links ul.links {
  float: right;
  width: 160px;
  margin: 0pt 1.5em 1.5em;
  padding: 20px;
}
div.overlay-links li {
  display: block;
  list-style-image: url(../images/icons/menu-leaf.gif);
}

.media-mover-audio .flowplayer {
  width: 512px;
  height: 408px;
}

.media-mover-audio-image .flowplayer {
  height: 24px;
}
