/* 
 * Throbber is from: http://swik.net/Ajax/Ajax+Images
 * Other icons from: http://www.famfamfam.com/lab/icons/silk/
 */

#muse-throbber {
	height: 25px;
	margin-top: 10px;
	padding-left: 25px;
}
#muse-throbber.active {
	background: url('sms_muse_throbber.gif') 0px 4px no-repeat;
}
#muse-throbber.validate {
	background: url('sms_muse_tick.png') 0px 4px no-repeat;
}
#muse-throbber.fail {
	background: url('sms_muse_cross.png') 0px 4px no-repeat;
}